* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2e2e2b;
  color: #ccc;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 12px;
  background-color: #ccc;
}

.scroll-hidden::-webkit-scrollbar {
  width: 0;
}

.scroll-auto-hide::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scroll-auto-hide:hover::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
